<router-outlet />

<div class="flex flex-col h-screen">
  <div class="flex-none">
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost text-xl">telepo.to</a>
      </div>

      <div class="flex-none space-x-1">
        <span class="pl-1">peerid: {{ peer.id }}</span>
        <label class="flex items-center justify-center" for="info-drawer"><ng-icon [name]="'iconoirQrCode'"></ng-icon></label>
      </div>

      <div class="flex-none">
        <ul class="menu menu-horizontal px-1" (click)="welcomeModal.showModal()">
          <li><a>help</a></li>
        </ul>
      </div>

      <div class="flex-none">
        <app-theme-switcher></app-theme-switcher>
      </div>
    </div>
  </div>
  <div class="flex-1 flex flex-col place-items-center justify-center">
    <!-- content goes here -->
  </div>
</div>

<!-- loading screen -->
<app-loading [message]="'establishing'" *ngIf="!peer.id || !privateKey"></app-loading>

<!-- Welcome modal -->
<dialog class="modal" #welcomeModal>
  <div class="modal-box">
    <h3 class="font-bold text-lg">Welcome!</h3>
    <p class="py-4">Press ESC key or click the button below to close</p>
    <div class="modal-action">
      <form method="dialog">
        <!-- if there is a button in form, it will close the modal -->
        <button class="btn">Close</button>
      </form>
    </div>
  </div>
</dialog>

<!-- Info drawer -->
<div class="drawer drawer-end">
  <input id="info-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-side">
    <label for="info-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <div class="p-4 w-96 min-h-full bg-base-200">
      <h1 class="text-xl font-bold mb-5">To share files between devices</h1>
      <p class="text-lg">Scan the QR code:</p>
      <qrcode [qrdata]="window.location.origin + '/' + peer.id"
              cssClass="flex justify-center p-5 bg-gray-50 rounded-lg"
              [width]="512"
              [errorCorrectionLevel]="'M'"
              [elementType]="'img'"
              [colorLight]="'#ffffff00'"
              [margin]="0" />
      <div class="divider">OR</div>
      <p class="text-lg">Share the provided address below:</p>
      <label class="input input-bordered flex items-center gap-2 pr-0">
        <input type="text" class="grow" [value]="window.location.origin + '/' + peer.id" readonly />
        <div class="tooltip tooltip-bottom" data-tip="copy">
          <button class="btn btn-ghost btn-circle">
            <ng-icon [name]="'iconoirCopy'"></ng-icon>
          </button>
        </div>
      </label>
      <p class="text-sm text-base-content/70 pt-5">Other people will see you as: <br><span class="text-base-content/90">{{ peer.id }}</span></p>
      <p class="text-base mt-5">This is your public key:</p>
      <textarea class="textarea textarea-bordered w-full h-48 mt-1 [scrollbar-width:none] resize-none" readonly>{{ publicKey ? pki.publicKeyToPem(publicKey) : '' }}</textarea>
      <p class="text-sm text-base-content/70">normally, you would not need to mind about this.</p>
    </div>
  </div>
</div>
