<div class="flex flex-col h-screen">
  <div class="flex-none">
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost text-xl">telepo.to</a>
      </div>

      @if (globalService.establishedStatus) {
        <div class="flex-none space-x-1">
          <label class="flex items-center justify-center cursor-pointer space-x-1" for="info-drawer">
            <div class="avatar">
              <div class="w-5 mask mask-squircle">
                <img ngSrc="{{ globalService.getFingerprint() }}" alt="" fill>
              </div>
            </div>
            <span>{{ globalService.getPeerName() }}</span>
            <ng-icon [name]="'iconoirQrCode'"></ng-icon>
          </label>
        </div>
      }

      <div class="flex-none">
        <!-- Welcome modal -->
        <app-modal [title]="'Welcome!'" [hidden]="!globalService.establishedStatus" #welcomeModal>
          <modal-open>
            <ul class="menu menu-horizontal px-1">
              <li><a>help</a></li>
            </ul>
          </modal-open>
          <modal-body><p class="py-4">Press ESC key or click the button below to close</p></modal-body>
          <modal-close><button class="btn">Close</button></modal-close>
        </app-modal>
      </div>

      <div class="flex-none">
        <app-theme-switcher></app-theme-switcher>
      </div>
    </div>
  </div>
  <div class="flex-1 flex flex-col">
    <div class="flex h-full">
      <div class="flex-none h-full">
        <ul class="menu menu-md h-full">
          <li>
            <div class="flex items-center gap-3">
              <div class="relative grid justify-items-center">
                <ng-icon [name]="'iconoirBrightCrown'" class="text-lg absolute -mt-3"></ng-icon>
                <div class="avatar">
                  <div class="mask mask-squircle w-12 h-12">
                    <img ngSrc="{{ globalService.getFingerprint() }}" [alt]="globalService.getPeerName()" fill>
                  </div>
                </div>
              </div>
              <div>
                <div class="font-bold">{{ globalService.getPeerName() }} (You)</div>
                <div class="text-sm opacity-50">{{ globalService.peer.id }}</div>
              </div>
            </div>
          </li>
          <li></li>
          @for (connection of globalService.connections | keyvalue; track connection.key) {
            @if (connection.value.status === 'connected') {
              <li>
                <div class="flex items-center gap-3">
                  <div class="avatar">
                    <div class="mask mask-squircle w-12 h-12">
                      <img ngSrc="{{ globalService.getFingerprint(connection.value.publicKey) }}" [alt]="globalService.getPeerName(globalService.getFingerprint(connection.value.publicKey))" fill>
                    </div>
                  </div>
                  <div>
                    <div class="font-bold">{{ globalService.getPeerName(globalService.getFingerprint(connection.value.publicKey)) }}</div>
                    <div class="text-sm opacity-50">{{ connection.key }}</div>
                  </div>
                </div>
              </li>
            }
          }
        </ul>
      </div>
      <div class="flex-1 bg-base-200 mr-3 mb-3 rounded-3xl relative">
        <!--<button (click)="test()">test</button>-->

        <div class="overflow-x-auto h-full w-full absolute">
          <table class="table">
            <!-- head -->
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Job</th>
                <th>Favorite Color</th>
              </tr>
            </thead>
            <tbody>
             @for (i of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; track i) {
              <tr>
                <th>
                  @if (i % 2 === 0) {
                    <ng-icon [name]="'iconoirDataTransferDown'" class="text-red-500"></ng-icon>
                  }
                  @else {
                    <ng-icon [name]="'iconoirDataTransferUp'" class="text-blue-500"></ng-icon>
                  }
                </th>
                <td>Cy Ganderton</td>
                <td>Quality Control Specialist</td>
                <td>Blue</td>
              </tr>
             }
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <router-outlet />
  </div>
</div>

<!-- loading screen -->
<app-loading [message]="'establishing...'" [hidden]="globalService.establishedStatus"></app-loading>

<!-- Info drawer -->
@if (globalService.establishedStatus) {
  <div class="drawer drawer-end">
    <input id="info-drawer" type="checkbox" class="drawer-toggle" />
    <div class="drawer-side">
      <label for="info-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
      <div class="p-4 w-96 min-h-full bg-base-200">
        <h1 class="text-xl font-bold mb-5">To share files between devices</h1>
        <p class="text-lg">Scan the QR code:</p>
        <qrcode [qrdata]="window.location.origin + '/' + globalService.peer.id"
                cssClass="flex justify-center p-5 bg-gray-50 rounded-lg"
                [width]="512"
                [errorCorrectionLevel]="'M'"
                [elementType]="'img'"
                [colorLight]="'#ffffff00'"
                [margin]="0"></qrcode>
        <div class="divider">OR</div>
        <p class="text-lg">Share the provided address below:</p>
        <label class="input input-bordered flex items-center gap-2 pr-0">
          <input type="text" class="grow" [value]="window.location.origin + '/' + globalService.peer.id" readonly #url />
          <!-- TODO: copy button animation -->
          <div class="tooltip tooltip-bottom" data-tip="copy" (click)="tooltip.setAttribute('data-tip', 'copied!')" (mouseleave)="tooltip.setAttribute('data-tip', 'copy')" #tooltip>
            <button class="btn btn-ghost btn-circle" (click)="navigator.clipboard.writeText(url.value)">
              <ng-icon [name]="'iconoirCopy'"></ng-icon>
            </button>
          </div>
        </label>
        <div class="flex pt-5">
          <div class="flex-1">
            <p class="text-sm text-base-content/70">Other people will see you as: <br><span class="text-base-content/90">{{ globalService.getPeerName() }}</span></p>
            <p class="text-sm text-base-content/70">with the peer id: <br><span class="text-base-content/90">{{ globalService.peer.id }}</span></p>
          </div>
          <div class="flex-none">
            <div class="avatar">
              <div class="w-16 mask mask-squircle">
                <img ngSrc="{{ globalService.getFingerprint() }}" [alt]="globalService.getPeerName()" fill>
              </div>
            </div>
          </div>
        </div>
        <p class="text-base mt-5">This is your public key:</p>
        <textarea class="textarea textarea-bordered w-full h-48 mt-1 [scrollbar-width:none] resize-none" readonly>{{ globalService.getPublicKeyAsPem() }}</textarea>
        <p class="text-sm text-base-content/70">normally, you would not need to mind about this.</p>
      </div>
    </div>
  </div>
}

