<ul class="menu menu-horizontal px-1" (click)="dialog.showModal()" *ngIf="buttonText">
  <li><a>{{ buttonText }}</a></li>
</ul>
<dialog class="modal" #dialog>
  <div class="modal-box">
    <h3 class="font-bold text-lg">{{ title }}</h3>
    <ng-content select="modal-body"></ng-content>
    <div class="modal-action">
      <form method="dialog" (click)="global.setWelcomeModalShown()">
        <!-- if there is a button in form, it will close the modal -->
        <ng-content select="modal-close"></ng-content>
      </form>
    </div>
  </div>
</dialog>
